/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.common_btn{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 18px 28px;
    border-radius: 100px;
    background-color: #1BBF00;
    border: none;
}
/* common css */
/* nav start */
.nav{
    background-color: rgba(72, 63, 155, 0.7);
    position: absolute;
    width: 100%;
}
.nav .nav-item .nav-link{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #EFF4FA;
}
.nav .nav-item .nav-link:hover{
    color: #1BBF00;
    transition-duration: 0.4;
}
.navtoggler{
    color: #EFF4FA;
}
.navicon{
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 20px;
    padding-right: 20px;
}
/* nav end */
/* banner start  */
#banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 248px;
    padding-bottom: 254px;
}
#banner .banner_content{
    display: flex;
   flex-direction: column;
   gap: 18px;
   align-items: center;
   justify-content: center;
}
#banner .banner_content h1{
    font-family: "Open Sans", sans-serif;
    font-size: 84px;
    font-weight: 700;
    color: #FAFAFE;
    width: 992px;
    text-align: center;
}
#banner .banner_content p{
    font-family: "Paprika", system-ui;
    font-size: 24px;
    font-weight: 400;
    color: #E6E5F3;
    width: 715px;
    text-align: center;
}
#banner .banner_content .banner_btn{
    display: flex;
    align-items: center;
    gap: 28px;
}
#banner .banner_content .banner_btn .btn{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px 40px;
    color: #FAFAFE;
    border-radius: 100px;
    border: solid 2px #1BBF00;
}
#banner .banner_content .banner_btn .btn:hover{
    background-color: #1BBF00;
    transition: 0.4;
}
/* banner end */
/* gallary start */
#gallary{
    padding: 240px 0px;
    background-color: #F9F9FB;
    position: relative;
}
#gallary .vector{
    position: absolute;
    top: 0;
    right: 0;
}
#gallary .gallary_content{
    display: flex;
    align-items: center;
    gap: 30px;
}
#gallary .gallary_content .border{
    width: 4px;
    height: 132px;
    border-radius: 10px;
    background-color: #d7d9dc;
}
#gallary .gallary_content .gallary_part h3{
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 800; 
    color: #1BBF00;
    margin-bottom: 24px;
    text-align: center;
}
#gallary .gallary_content .gallary_part h2{
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 700; 
    color: #141135;
    text-align: center;
}
/* gallary end */
/* choose start */
#choose{
    padding: 100px;
    background: #FDFDFD;
    position: relative;
}
#choose .choose_bg{
    position: absolute;
    top: 0;
    left: 0;
}
#choose .choose_left{
    display: flex;
    gap: 36px;
    padding: 42px 20px;
    transition-duration: 0.4;
}
#choose .choose_left:hover{
    background-color: #ffffff;
    box-shadow: 10px 30px 60px rgba(230, 229, 243, 0.266);
    border-radius: 15px;
}
#choose .choose_left .round_shape{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #1BBF00;
    position: relative;
}
#choose .choose_left .round_shape::after{
    content: "";
    position: absolute;
    top: 0;
    left: 14px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #CBC8F0;
}
#choose .choose_left p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    line-height: 30px;
    width: 320px;
}
#choose .choose_right h1{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
#choose .choose_right p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    line-height: 30px;
    width: 394px; 
    margin-bottom: 40px;
}
/* choose end */
/* what we do start */
#we_do{
    padding: 100px 0;
    background-color: #F6F5FF;
}
#we_do .two{
    margin-top: 30px;
}
#we_do .content_one h1{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px; 
}
#we_do .content_one p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    line-height: 30px;
    width: 350px; 
    margin-bottom: 40px;
}
#we_do .content_cards{
   padding: 48px 0; 
   background-color: #ffffff;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 24px;
   transition: all linear 0.5s;
}
#we_do .content_cards h1{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    transition: all linear 0.5s;
}
#we_do .content_cards p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    line-height: 30px;
    width: 257px;
    text-align: center; 
    transition: all linear 0.5s;
}
#we_do .content_cards .do_btn{
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    padding: 20px 30px;
    z-index: 1;
}
#we_do .content_cards:hover {
    background-color: #6B62C5;
}

#we_do .content_cards:hover h1,
#we_do .content_cards:hover p,
#we_do .content_cards:hover .do_btn a {
    color: #ffffff;
}

#we_do .content_cards:hover .do_btn::after {
    background-color: #9791d6;
}
#we_do .content_cards .do_btn::after{
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: rgba(27, 191, 0,20%);
    width: 30%;
    text-align: center;
    transition: all linear 0.5s;
    z-index: -1;
}
#we_do .content_cards .do_btn:hover:after{
    width: 100%;
}
#we_do .content_cards .do_btn a{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #141135;
}
/* what we do end */
/* impact start */
#impact{
    margin: 100px 0px;
    position: relative;
}
#impact .impact_bg{
    position: absolute;
    right: 0;
    bottom: -100px;
}
#impact .impact_header h1{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}
#impact .impact_header p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    width: 558px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
#impact .impect_content{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}
#impact .impect_content h1{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
#impact .impect_content p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    width: 343px;
}
/* impact end */
/* right plan start */
#right_plan{
    padding: 100px 0;
    background-color: #F9F9FB;
}
#right_plan h1{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700; 
    margin-bottom: 64px;
    text-align: center;
}
#right_plan .right_plan_cards{
    padding: 60px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    transition: all linear 0.5s;
}
#right_plan .right_plan_cards:hover{
    background-color: #6B62C5;
}
#right_plan .right_plan_cards:hover{
    color: #ffffff;
}
#right_plan .right_plan_cards:hover p{
    color: #E6E5F3;
}
#right_plan .right_plan_cards:hover .img_div{
    background-color: #8981d1;
}
#right_plan .right_plan_cards h1{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700; 
    margin-bottom: 24px;
}
#right_plan .right_plan_cards .img_div{
    background-color: #d7d9dc;
    margin-bottom: 20px;
}
#right_plan .right_plan_cards .img_div .img_three{
    padding: 33px 0;
}
#right_plan .right_plan_cards h2{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700; 
    margin-bottom: 14px;
    color: #1BBF00;
}
#right_plan .right_plan_cards p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    width: 252px;
    margin: 0 auto;
    text-align: center;
}
/* right plan end */
/* what people think about us start */
#think{
    padding: 100px 0;
    background-color: #F8F8FF;
    position: relative;
}
#think h1{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 130px;
}
#think .think_conent{
    width: 1080px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 20px 30px #70707070;
    padding: 56px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#think .think_conent img{
    position: absolute;
    top: -96px;
}
#think .think_conent .star{
    color: #FF7628;
    margin-bottom: 34px;
}
#think .think_conent p{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    width: 644px;
    text-align: center;
    margin-bottom: 48px;
    line-height: 40px;
}
#think .think_conent h2{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
}
#think .think_conent h3{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
}
#think .arrows{
    width: 1408px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50% ,-50%);
}
#think .arrows button{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #cbeccc;
    color: #ffffff;
    transition: all linear 0.5s;
}
#think .arrows button:hover{
    background-color: #1BBF00;
}
/* what people think about us end */